<div class="content_main_head" id="content_main_head">
	<div class="content_breadcrumb"></div>
</div>
<div class="content_area">
	<!--
	<div align="center" id="advt_content_area" class="advt_content_area" style="display:none">
		<div id="advt_content" class="advt_content"></div>
	</div>
	-->
	
	<div class="content">{block name=content}DEFAULT_CONTENT{/block}</div>
</div>