{* SMARTY *}
{* Used-Variables:
 * $variable - Description
 *}

{extends file='../_content.tpl'}

{block name=content}
{* Your code starts here! *}

<center><font color="#FF0000"><b>!!! ERROR !!!</b><br />{$errorString}</font></center>

{* Your code ends here! *}
{/block}