/***************************\
| HTML5 display definitions |
\***************************/
/* Set for HTML5 block elements in browsers (without an HTML5 parser) that treat them as inline elements. */
/* Correct `block` display not defined in IE 6/7/8/9 and Firefox 3. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display:block;
}
/* Set for HTML5 inline-block elements in browsers that treat them as inline elements. */
/* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
/* Ensures that audio elements without controls remain hidden in modern browsers that have native support for audio. 
   Chrome and IE9 do not seem to need this re-hiding of control-less audio as they seem to always hide them, regardless of what you do in the CSS. */
/* Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) {
	display:none;
	height:0;
}
/* Adds support for the [hidden] attribute in legacy browsers (with attribute selector support) that do not include it in their UA stylesheet. */
/* Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. Known issue: no IE 6 support. */
[hidden] {
	display:none;
}



/*************\
| BASE-Styles |
\*************/
/* 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. 
/* 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
	/* Set the default text color to be slightly lighter than pure black to avoid excessive contrast. */
	color:#DDDDDD;
	/* Corrects an IE6/7 bug where text is resized to much greater sizes than normal when the body font-size is set using em units.
	   http://clagnut.com/blog/348/#c790 */
	font-size:100%; /* 1 */
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom...unlike none.
	   http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
	   https://developer.mozilla.org/en/CSS/text-size-adjust */
	-ms-text-size-adjust:100%; /* 2 */
	-webkit-text-size-adjust:100%; /* 2 */
	/* Forces the display of a vertical scrollbar even on pages which are smaller than the viewport height.
	   IE displays a vertical scrollbar regardless of viewport height and this ensures that it also appears in non-IE.
	   Doing this prevents what appears to be a horizontal shift of page content when a scrollbar appears on longer pages. */
	overflow-y:scroll;
}

/* Address `font-family` inconsistency between `textarea` and other form elements. */
html, button, input, select, textarea {
	/* Setting the font-family on body and various form elements ensures font-family consistency between body copy, textarea, and other form elements.
	   Using the sans-serif value will most likely mean Helvetica as the default font for Mac and Arial for Windows. */
	font-family:sans-serif;
	/* We set a general to all text-elements */
	text-shadow:2px 2px 3px #000000;
	filter:dropshadow(color=#000000, offx=3, offy=3);
}

/* Address margins handled incorrectly in IE 6/7. */
body {
	background-color:#000000;
	/* Removes margin in all browsers. */
	margin:0;
	/* Set font-size and line-height to readable defaults. Use browser default font-size, equivalent to 16px. */
	font-size:1em;
	line-height:1.4;
}

h1, h2, h3, h4, h5, h6 {
	text-align:center;
}

/**************************************************************************\
| Remove text-shadow in selection highlight: h5bp.com/i                    |
| These selection declarations have to be separate                         |
| Also: hot pink! (or customize the background color to match your design) |
\**************************************************************************/
/* Highlighted text can look a mess if it also has text shadows of certain colours or sizes.
   Existing browsers don't let you reset just text-shadow in ::selection without reset the background highlight color.
   Therefore, to avoid the text-shadow-when-highlighted problem we set text-shadow: none but must also declare a background and color.
   
   Consider changing the selection background color to fit with the color palette being used on your site.  */
::-moz-selection {
	background-color:#CCCCCC;
	color:#000000;
	text-shadow:none;
}
::selection {
	background-color:#CCCCCC;
	color:#000000;
	text-shadow:none;
}



/*******\
| LINKS |
\*******/
a {
	color:#DDDDDD;
	text-decoration:none;
}
a:visited {
	color:#DDDDDD;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
/* Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
	outline:thin dotted;
}
/* Improve readability when focused and hovered in all browsers
   h5bp.com/h */
a:hover, a:active {
	outline:0;
}



/************\
| Typography |
\************/
/* Address font sizes and margins set differently in IE 6/7. */
/* Address font sizes within `section` and `article` in Firefox 4+, Safari 5, and Chrome. */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
h4 {
	font-size: 1em;
	margin: 1.33em 0;
}
h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}
h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}
/* Addresses styling not present in IE7/8/9, S5, Chrome. By not specifying a border color it defaults to the text color it inherits. */
abbr[title] {
	border-bottom:1px dotted;
}
/* Addresses style set to 'bolder' in FF3/4, S4/5, Chrome. */
b, strong {
	font-weight:bold;
}
/* Normalize blockquote margins, which differ between modern browsers and IE6/7. */
blockquote {
	margin:1em 40px;
}
/* Addresses styling not present in S5, Chrome. */
dfn {
	font-style:italic;
}
/* Address differences between Firefox and other browsers. Known issue: no IE 6/7 normalization. */
hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}
/* Addresses styling not present in IE6/7/8/9. */
mark {
	background-color:#FFF000;
	color:#000000;
}
/* Address margins set differently in IE 6/7. */
p, pre {
	margin:1em 0;
}
/* Redeclare monospace font family:
   h5bp.com/j */
pre, code, kbd, samp {
	/* Allows proper font-size control.
	   http://en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
	font-family:monospace, serif;
	/* Improves poor text-rendering of monospace in IE6. */
	_font-family:'courier new', monospace;
	/* Set font-size to be equal to ancestor's font-size. */
	font-size:1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
	/* This value makes the element behave as a pre: all line breaks, tabs and other oddities of the source code are literally followed. */
	white-space:pre;
	/* This value behaves as the pre value, except that it adds extra line breaks to prevent the text breaking out of the element's box. But it is not supported by IE6/7, so... */
	white-space:pre-wrap;
	/* ...this property allows long words to be broken and wrap onto the next line in IE6/7 */
	word-wrap:break-word;
}
/* Remove quotes because they are not supported in IE6/7. */
q {
	quotes:none;
}
/* Quotes require resetting twice as Safari does not support the "quotes" property.
   http://www.paulchaplin.com/blog/css-reset-and-quirky-quotes */
q:before, q:after {
	content:"";
	content:none;
}

small {
	font-size:75%;
}
/* Position subscript and superscript content without affecting line-height:
   h5bp.com/k
   http://gist.github.com/413930 */
sub, sup {
	/* Specified in % so that the sup/sup is the right size relative to the surrounding text. */
	font-size:75%;
	/* Zero out the line-height so that it doesn't interfere with the positioning that follows. */
	line-height:0;
	/* Makes all browsers position the sup/sup relative to the surrounding text. */
	position:relative;
	/* Set the vertical alignment from the baseline. */
	vertical-align:baseline;
}
/* Move the superscripted text up. */
sup {
	top:-0.5em;
}
/* Move the subscripted text down, but only half as far down as the superscript moved up. */
sub {
	bottom:-0.25em;
}



/*******\
| LISTS |
\*******/
/* Set consistent cross-browser defaults, in line with modern standards, for ul, ol, and dd. */
/* Zero out padding and margin, and remove bullets from any lists used in nav elements.
   We need to include list-style-image for IE6/7 in case a list image is set on the default ul, because those browsers won't remove it otherwise. */
ul, ol {
	margin:1em 0;
	padding:0 0 0 40px;
}
dd {
	margin:0 0 0 40px;
}
nav ul, nav ol {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;
}



/******************\
| EMBEDDED CONTENT |
\******************/
/* 1. Improve image quality when scaled in IE7:
      h5bp.com/d
   2. Remove the gap between images and borders on image containers:
      h5bp.com/i/440 */
img {
	/* Removing the border prevents a border from appearing around images wrapped in links in IE.
	   The vertical-align removes the gap between images and borders on image containers.
	   http://h5bp.com/e */
	border:0;
	/* Improves image resizing in IE. It is on by default in IE8 and is not implemented in IE6, so we only need it on IE7.
	   Firefox has a similar style image-rendering:optimizeQuality; but it is a default, so we don't need to include it in the styles.
	   http://h5bp.com/d */
	-ms-interpolation-mode:bicubic;
	/* Removing the border prevents a border from appearing around images wrapped in links in IE.
	   The vertical-align removes the gap between images and borders on image containers.
	   http://h5bp.com/e */
	vertical-align:middle;
}
/* Corrects overflow not being hidden in IE9. 
   Earlier versions of IE don't support SVG, so we can safely use the :not() and :root selectors that modern browsers use in the default UA stylesheets to apply this style. */
svg:not(:root) {
	overflow:hidden;
}



/*********\
| Figures |
\*********/
figure {
	margin:0;
}

/*******\
| FORMS |
\*******/
/* We zero out the border, margin, and padding on form and fieldset. */
form {
	margin:0;
}
fieldset {
	border:0;
	margin:0;
	padding:0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
	cursor:pointer;
}
/* 1. Correct color not inheriting in IE6/7/8/9
   2. Correct alignment displayed oddly in IE6/7 */
legend {
	/* Corrects color not being inherited in IE6/7/8/9. Without this, legend text will always be blue in IE. */
	border:0;
	/* Corrects alignment displayed oddly in IE6/7. */
	*margin-left:-7px;
	/* Since we've removed the fieldset border, margin, and padding, we remove the default padding on legend to avoid unwanted horizontal whitespace. */
	padding:0;
	/* Allow text to wrap in Firefox 3.6 */
	white-space:normal;
}
/* 1. Correct font-size not inheriting in all browsers
   2. Remove margins in FF3/4 S5 Chrome
   3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea {
	/* Corrects font size not being inherited in all browsers. */
	font-size:100%;
	/* Addresses margins set differently in IE6/7, F3/4, S5, Chrome. */
	margin:0;
	/* Produces best looking alignment in modern browsers. */
	vertical-align:baseline;
	/* Improves appearance in IE6/7 to more closely match baseline value position in other browsers. */
	*vertical-align:middle;
}
/* Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
button, input {
	/* Addresses FF3/4 setting line-height using !important in the UA stylesheet. */
	line-height:normal;
}
/* 1. Display hand cursor for clickable form elements
   2. Allow styling of clickable form elements in iOS
   3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6) */
button, input[type="button"], input[type="reset"], input[type="submit"] {
	/* Improves usability by indicating that an action will be performed. Type image already has pointer cursor, so this also improves consistency between related input types. */
	cursor:pointer;
	/* Corrects inability to style clickable 'input' types in iOS. */
	-webkit-appearance:button;
	/* Corrects inner spacing displayed oddly in IE7.
	   Doesn't effect IE6; there doesn't seem to be a way to apply it to IE6 (without using a class) and avoid triggering a serious bug in text input's.
	   This style, when applied to text inputs in IE6/7, causes them to expand as more content is written into them.
	   This happens even if there is a fixed width applied.
	   If you need to fix the excess inner-spacing bug on button and clickable inputs in IE6, then apply this style using a class that is used specifically to style those types of elements. */
	*overflow:visible;
}
/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] {
	cursor:default;
}
/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] {
	/* Normalizes the box sizing, which is set to content-box in IE8/9 but border-box in all other browsers. */
	box-sizing:border-box;
	/* Corrects excess space around these inputs in IE8/9 and matches Firefox's UA style sheet setting of padding: 0 !important. However, this does not effect the excess space in IE6/7. */
	padding:0;
	/* Corrects excess space around these inputs in IE7. */
	*width:13px;
	/* Corrects excess space around these inputs in IE7. */
	*height:13px;
}
input[type="search"] {
	/* Addresses appearance set to searchfield in Safari 5 and Chrome, without removing the benefits of search inputs (e.g. showing past searches).
	   If the -webkit-appearance property value is not changed from searchfield:
	   ...in WebKit on OSX/iOS you can't control font, padding, border, and background.
	   ...in WebKit on Windows you can't control border properly. It will apply border-width but will only show a border color (which cannot be controlled) for the outer 1px of that border. */
	-webkit-appearance:textfield;
	/* Normalizes the box sizing, which is set to border-box in Safari 5 and Chrome but content-box in all other browsers. */
	-moz-box-sizing:content-box;
	/* Future-proofing. */
	-webkit-box-sizing:content-box;
	/* Future-proofing. */
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	/* Remove excess inner padding that appears in Safari 5 and Chrome on OSX once the search input appearance has been changed to textfield. Remove the cancel button. */
	-webkit-appearance:none;
}
/* Remove inner padding and border in FF3/4:
   h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
	padding:0;
}
/* 1. Remove default vertical scrollbar in IE6/7/8/9
   2. Allow only vertical resizing */
textarea {
	/* Removes default vertical scrollbar on empty textarea in IE6/7/8/9. */
	overflow:auto;
	/* Improves readability and alignment in all browsers when accompanied by label text. */
	vertical-align:top;
	/* Allow only vertical resizing to prevent instances when trying to resize a textarea accidentally results in it being resized horizontally over adjacent content. */
	resize:vertical;
}
/* Colors for form validity */
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
	background-color:#F0DDDD;
}



/********\
| TABLES |
\********/
/* Remove spacing and tweak vertical alignment */
table {
	border-collapse:collapse;
	border-spacing:0;
}
td {
	vertical-align:top;
}



/*********************\
| CHROME FRAME PROMPT |
\*********************/
.chromeframe {
	margin:0.2em;
	background-color:#FF0000;
	color:#FFFFFF;
	padding:0.2em;
}