/***************\
| MEDIA QUERIES |
\***************/
/* EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires. */
@media only screen and (min-width:35em) {
	/* Style adjustments for viewports that meet the condition */
}



/*****************************\
| NON-SEMANTIC HELPER CLASSES |
\*****************************/
/* Please define your styles before this section */
/* For image replacement */
/* Add the .ir class to any element you are applying image-replacement to. Be sure to include background-image: url(pathtoimage.png); for that specific element so that image replacement can occur. */
.ir {
	display:block;
	/* Remove the default border from elements like button */
	border:0;
	text-indent:-999em;
	overflow:hidden;
	/* Hide the default background color on elements like button */
	background-color:transparent;
	background-repeat:no-repeat;
	text-align:left;
	direction:ltr;
	*line-height:0;
}

.ir br {
	display:none;
}
/* Hide from both screenreaders and browsers:
   h5bp.com/u */
/* Add the .hidden class to any elements that you want to hide from all presentations, including screen readers.
   It could be an element that will be populated later with JavaScript or an element you will hide with JavaScript.
   Do not use this for SEO keyword stuffing. That is just not cool. */
.hidden {
	/* Ensure that elements remain hidden even when their display property is set in selectors with a specificity greater than or equal to the .hidden selector. */
	display:none !important;
	/* Only included to avoid possible edge-cases in Window-Eyes screenreader where text is read out even when display: none is used.
	   http://h5bp.com/x */
	visibility:hidden;
}
/* Hide only visually, but have it available for screenreaders:
   h5bp.com/v */
/* Add the .visuallyhidden class to hide text from browsers but make it available for screen readers.
   You can use this to hide text that is specific to screen readers but that other users should not see.
   http://www.webaim.org/techniques/css/invisiblecontent/
   http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   https://github.com/h5bp/html5-boilerplate/issues/194/ */
.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	/* Prevent any content overflow */
	overflow:hidden;
	padding:0;
	/* Remove from the flow of the document */
	position:absolute;
	width:1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:
   h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto;
}
/* Hide visually and from screenreaders, but maintain layout */
/* Add the .invisible class to any element you want to hide without affecting layout.
   When you use display: none the element would effectively be removed from the layout (width = 0, height = 0),
   in some cases, you want the element to simply remain invisible while occupying the width and height that it has.
   
   Examples would be, having a form element that is hidden until another choice is selected (or having select dropdowns disappear in IE if over flash),
   Containers for tabbed navigation to occupy space, even when invisible, making advertisements invisible while a video is played in a modal window and the screen behind is darkened.
   
   If you need the layout to not shift when you show/hide an element, this would be a class you would add/remove.  */
.invisible {
	visibility:hidden;
}
/* Contain floats:
   h5b.com/q */
/* Adding .clearfix to an element will ensure that it always fully contains its floated children.
   There have been many variants of the clearfix hack over the years, and there are other hacks that can also help you to contain floated children,
   but the HTML5 Boilerplate currently provides this micro clearfix helper class.
   http://nicolasgallagher.com/micro-clearfix-hack/ */
/* This rule is understood by all browsers except for IE6/7.
   It generates a pseudo-element before and after the content of the element that contains floats.
   Setting display: table creates an anonymous table-cell and a new block formatting context.
   This acts to prevent top-margin collapse and improve the consistency between modern browsers and IE6/7. */
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
/* Makes the :after pseudo-element clear the floated children of this element, thereby making the element expand to contain the floats. */
.clearfix:after {
	clear:both;
}
/* Create new block formatting context in IE6/7 by triggering hasLayout */
.clearfix {
	*zoom:1;
}



/**************\
| PRINT-STYLES |
\**************/
/* Inlined to avoid required HTTP connection:
   h5bp.com/r */
/* Print styles are inlined to reduce the number of page requests.
   http://www.phpied.com/delay-loading-your-print-css/
   We strip all background colors and change the font color to dark gray and remove text-shadow. This saves your printer's ass.
   Anchors do not need colors to indicate they are linked. They are underlined to indicate so.
   Anchors and Abbreviations are expanded to indicate where users reading the printed page can refer to.
   But we do not want to show link text for image replaced elements (given that they are primarily images). */
@media print {
	/* Black prints faster:
	   h5bp.com/s */
	* {
		background:transparent !important;
		color:black !important;
		box-shadow:none !important;
		text-shadow:none !important;
		filter:none !important;
		-ms-filter:none !important;
	}
	
	a, a:visited {
		text-decoration:underline;
	}
	
	a[href]:after {
		content:" (" attr(href) ")";
	}
	
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	
	/* Don't show links for images, or javascript/internal links */
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content:"";
	}
	
	pre, blockquote {
		border:1px solid #999999;
		page-break-inside:avoid;
	}
	/* h5bp.com/t */
	thead {
		display:table-header-group;
	}
	
	tr, img {
		page-break-inside:avoid;
	}
	
	img {
		max-width:100% !important;
	}
	
	@page {
		margin:0.5cm;
	}
	
	p, h2, h3 {
		orphans:3;
		widows:3;
	}
	
	h2, h3 {
		page-break-after:avoid;
	}
	
	
	
	/* Hide the left column when printing */
	.leftcol {
		display:none;
	}
	/* Hide the right column when printing */
	.rightcol {
		display:none;
	}
	
	/* Expand the main column to screen-width */
	.twocols, .maincol {
		width:100%;
		float:none;
	}
}