/*****************************\
| Z-INDEX LEVEL               |
|  -     X : Direct           |
|  -    XX : Direct Overlay   |
|  -   XXX : General          |
|  -  XXXX : General Overlay  |
|  - XXXXX : Complete Overlay |
\*****************************/

/*********\
| GENERAL |
\*********/
/*
@font-face {
	font-family:pirulen;
	src:url(../fonts/pirulen.ttf);
}
*/

.error {
	color:#FF0000;
}
.success {
	color:#00FF00;
}

body {
	background-color:#000000;
	margin:0;
	padding:0;
}



/* PAGE GENERAL */
.pagewidth {
	margin:0 auto;
	max-width:1094px;
	min-width:1094px;
}
#wrapper {
	background-color:#0C0C0C;
	border:medium none;
}



/* HEADER */
.header {
	display:block;
	height:150px;
	position:relative;
	text-align:center;
	width:1094px;
}



/* CONTENT-LAYOUT */
.content_left {
	color:#D3D3D3;
	float:left;
	font-size:0.75em;
	overflow:hidden;
	padding:0;
	width:216px;
	z-index:100;
}
.content_right {
	color:#D3D3D3;
	float:left;
	font-size:0.75em;
	overflow:hidden;
	padding:0;
	width:216px;
}
.content_main {
	clear:none;
	color:#D3D3D3;
	float:left;
	font-size:1em;
	overflow:hidden;
	padding:0;
	text-align:left;
	top:160px;
	width:662px;
}



/* NAVIGATION */
.navi_head {
	float:left;
	font-size:1em;
	height:39px;
	width:216px;
	z-index:100;
}
.navi_head_font {
	display:block;
	float:left;
	font-family:Verdana,Arial;
	font-size:1em;
	font-weight:bold;
	margin-left:25px;
	padding-top:2px;
	text-shadow:2px 2px 0 #262626;
	z-index:100;
}
.navi_menu {
	border:medium none;
	color:#D3D3D3;
	float:left;
	max-width:182px;
	overflow:hidden;
	padding:0 9px 0 25px;
	width:182px;
	z-index:100;
}
.a_navi_menu {
	color:#7F7F7F;
	cursor:pointer;
	display:block;
	font-family:Verdana,Arial,Helvetica,sans-serfi;
	font-size:0.9em;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	text-shadow:2px 2px 0 #000000;
	width:182px;
	z-index:100;
}
.a_navi_menu:hover {
	text-decoration:none;
	z-index:100;
}
.navi_menu_close {
	border:medium none;
	float:left;
	height:20px;
	width:216px;
	z-index:100;
}



/* CONTENT */



/* FOOTER */



/*******\
| Forms |
\*******/
form {
	border-color:#303030;
	border-radius:5px;
	border-style:solid;
	border-width:thin;
	clear:both;
	margin:0 auto;
	min-height:50px;
	padding:1em;
	width:90%;
}

form fieldset {
	border-color:#303030;
	border-radius:5px;
	border-style:solid;
	border-width:thin;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:20px;
	display:block;
}

form legend {
	color:#77AF4C;
	display:block;
	font-family:Verdana,Arial;
	font-size:13px;
	font-weight:bold;
}

form label {
	display:block;
	font-size:11px;
	margin-top:5px;
}

form input[type="text"], input[type="password"], input[type="email"] {
	background-color:#111111;
	-moz-box-shadow: 0px 0px 4px #000 inset;
	-webkit-box-shadow: 0px 0px 4px #000 inset;
	box-shadow: 0px 0px 4px #000 inset;
	border:1px solid #000000;
	color:#D3D3D3;
	display:block;
	font-size:11px;
	height:1em;
	margin-top:10px;
	outline:1px solid #333333;
	padding:5px;
	width:100%;
}
form input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, 
     input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
	color:#FFFFFF;
	outline:1px solid #555555;
}
::-webkit-input-placeholder {
	font-style:italic;
}
:-moz-placeholder {
	font-style:italic;
}
::-moz-placeholder {
	font-style:italic;
}
:-ms-input-placeholder {
	font-style:italic;
}

form textarea {
	background-color:#111111;
	-moz-box-shadow:0px 0px 4px #000000 inset;
	-webkit-box-shadow:0px 0px 4px #000000 inset;
	-moz-box-shadow: 0px 0px 4px #000 inset;
	-webkit-box-shadow: 0px 0px 4px #000 inset;
	box-shadow: 0px 0px 4px #000 inset;
	border:1px solid #000000;
	color:#444444;
	display:block;
	font-size:11px;
	margin-top:10px;
	outline:1px solid #333333;
	padding:5px;
	width:100%;
}

form textarea:focus, textarea:hover {
	color:#FFFFFF;
	outline:1px solid #555555;
}

form select {
	background-color:#111111;
	-moz-box-shadow:0px 0px 4px #000000 inset;
	-webkit-box-shadow:0px 0px 4px #000000 inset;
	-moz-box-shadow: 0px 0px 4px #000 inset;
	-webkit-box-shadow: 0px 0px 4px #000 inset;
	box-shadow: 0px 0px 4px #000 inset;
	border:1px solid #000000;
	color:#444444;
	display:block;
	font-size:11px;
	outline:1px solid #333333;
	padding:5px;
	width:100%;
}
form select + label {
	margin-top:10px;
}

input[type="checkbox"], input[type="radio"] {
	position:absolute;
	margin-top:2.5px;
}
input[type="checkbox"] + label, input[type="radio"] + label {
	padding-left:20px;
}

form input[type="submit"], 
     input[type="button"] {
	background-color:#111111;
	border:1px solid #555555;
	border-radius:5px;
	color:#D3D3D3;
	font-size:13px;
	font-weight:lighter;
	margin-top:10px;
}
form input[type="submit"]:focus, 
     input[type="submit"]:hover, 
	 input[type="button"]:focus, 
	 input[type="button"]:hover {
	border:1px solid #999999;
	color:#999999;
}